body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  width: 720px;
  max-width: 90vw;
}

a:hover {
  text-underline-offset: 4px;
}

a,
a:active {
  text-underline-offset: 3px;
}

time {
  font-style: italic;
}

/*
* COLORS!
*
* These are somewhat inspired by catppuccin, mostly chosen so that the
* transition between my editor and the page is easy on my eyes.
*/

body {
  background-color: #eff1f5;
  color: #4c4f69;
}

a,
a:active {
  color: #df8e1d;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e2e;
    color: #cdd6f4;
  }

  a,
  a:active {
    color: #f9e2af;
  }
}
