body {
  /* Only named colors! */
  background-color: dimgray;
  color: lavenderblush;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  width: 720px;
  max-width: 90vw;
}

a:hover {
  text-underline-offset: 4px;
}

a,
a:active {
  color: aliceblue;
  text-underline-offset: 3px;
}

::selection {
  background-color: lavenderblush;
  color: dimgray;
}
